<footer class="footer">
    <div class="container">
        {% if site.footer_menu %}
            <div class="columns is-multiline">
                {% for item in site.data[site.footer_menu] %}
                    <div class="column has-text-centered">
                        <div>
                            <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% include follow.html %}

        {% if page.hits %}
            <a href="https://hits.seeyoufarm.com">
                <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fdfg-sos.de&count_bg=%2379C83D&title_bg=%23063D79&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
            </a>
        {% endif %}

        <!-- <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div> -->
    </div>
</footer>
