{% if page.sponsors %}
    {% assign tiers=site.data.[page.sponsors] %}
    <style>
        ul, .team-member-description ul{
            list-style-type: disc !important; 
            padding-left: 20px !important; 
        }
    </style>
    <div class="columns is-multiline">
        {% for tier in tiers %}
            <div class="column is-12">
                <p class="title is-3 has-text-centered">
                    <span>{{ tier.tier_name }}</span>
                </p>
                <div class="columns is-centered">
                    <div class="column is-6 content has-text-centered">
                        <p>{{ tier.description | markdownify }}</p>
                    </div>
                </div>

                <div class="columns is-multiline is-centered">
                    {% for sponsor in tier.sponsors %}
                        <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %} is-centered">
                            
                            <div class="card">
                                <a href="{{sponsor.profile}}" target="_blank">
                                    <div class="card-image has-text-centered">
                                        <figure class="image is-256x256 is-inline-block">
                                            <img class="is-rounded" src="{{ sponsor.image }}" />
                                        </figure>
                                    </div>
                                </a>
                                <div class="card-content">
                                    <p class="title {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                                        {{ sponsor.name }}
                                    </p>
                                    <p class="team-member-description">
                                        {{ sponsor.description | markdownify}}
                                        {% if sponsor.profile %}
                                        <ul>
                                            <li><a href="{{sponsor.profile}}" target="_blank">Personal page</a></li>
                                        </ul>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="column is-12">
                <hr>
            </div>
        {% endfor %}
    </div>
{% endif %}
