---
---

$primary: #263f9f;




// Styles links on the publications page
.minilinks {
    font-size: 0.625em;

    a {
        color: #eee;
        background-color: $primary;
    }
}


// Import Main CSS file from theme
@import "main";

